<section class="wrapper" ng-controller="addUserController">
		 
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                             Add/Update User
                          </header>
                          <div class="panel-body">
                              <form class="form-horizontal">
                                  <!-- <div class="form-group">
                                      <label class="col-sm-2 control-label">Enter Username:</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control">
                                      </div>
                                  </div> -->
                                  <div class="row">
                                  
                                  <div class="col-lg-5 col-md-5 col-sm-5">
                                  <div class="form-group">
                                      <label class="col-sm-4 control-label">Enter firstname:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control" ng-model="firstname">
                                      </div>
                                     </div>
                                      <div class="form-group">
                                      <label class="col-sm-4 control-label">Enter lastname:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control" ng-model="lastname">
                                      </div>
                                      </div>
                                      
                                      
                                      <div class="form-group">
                                      <label class="control-label col-sm-4" for="inputSuccess">Country</label>
                                      <div class="col-lg-6">
                                          
                                          
                                       <select class="form-control m-bot15" ng-model="country" 
            ng-options="data.name as data.name for data in countries">
            <option value="">Select Country</option>
            </select>

   
                                          
                                          
                                          
                                          
                                          
                                         <!--  <select class="form-control m-bot15" ng-model="mod1.country">
                                              <option>India</option>
                                              <option>USA</option>
                                              <option>UK</option>
                                              <option>Austrila</option>
                                          </select> -->

                                         
                                      </div>
                                  </div>
                                      
                                      
                                      
                                  </div>
                                  
                                  <div class="col-lg-5 col-md-5 col-sm-5">
                                  	<div class="form-group">
                                      <label class="col-sm-4 control-label">Enter Email:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control" ng-model="email">
                                      </div>
                                       </div>
                                       
                                       <div class="form-group">
                                      <label class="col-sm-4 control-label">Enter phone:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control" ng-model="phone">
                                      </div>
                                      </div>
                                      	 
                                      	 <!-- <div class="form-group">
                                   		
                                   		 
                                   		  <label class="col-sm-4 control-label">Hobbies:</label>
                                   		 
                                   		 <div class="col-sm-3">
                                   		 <div class="checkbox">
                                              <label>
                                                  <input type="checkbox" value="">
                                                	Games
                                              </label>
                                          </div>
										 </div>
										 <div class="col-sm-3">
										 <div class="checkbox">
                                              <label>
                                                  <input type="checkbox" value="">
                                                  Drawing
                                              </label>
                                          </div>
										 
										 </div>
                                   		 
                                   		 
                                      </div> -->
                                      
                                          <div class="form-group">
												<label class="col-sm-4 control-label">Gender:</label>
												<div class="col-sm-3">
                                          <div class="radio">
                                              <label>
                                                  <input type="radio" ng-model="gender" value="male">
                                                  Male
                                              </label>
                                          </div>
                                          </div>
                                          <div class="col-sm-3">
                                          <div class="radio">
                                              <label>
                                                  <input type="radio" ng-model="gender" value="female">
                                                 Female
                                              </label>
                                              
                                          </div>
                                          </div>
                                          </div>

                                     
                                      
                                  </div>
                                  
                                  
                                  </div>
                                  <br> <br> <br> <br> <br> <br> 
                                   
                                  <div class="row">
                                   <div class="col-lg-5 col-md-5 col-sm-5">
                                  	<button type="submit" class="btn btn-primary" ng-click="saveUser()">Submit</button>
                                    <button type="submit" class="btn btn-default" ng-click="clearForm()">Clear</button>
                                  </div>
                              </form>
                          </div>
                      </section>
                      
                  </div>
              </div>
              <!-- page end-->
          </section>